body {
    background: white;
  }

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  height: auto;
  max-height: 17vh;
  width: auto;
}

#score {
  display: none;
}

#background {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.content {
  position: relative;
  width: 50vw;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  border: solid 5px black;
  background-color: rgb(158, 99, 60);
  height: auto;
  width: 50vw;
  max-height: 70vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#start-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 70vh;
  min-width: 695px;
  background-color: rgb(230, 230, 230);
  border: solid 5px black;
}

#start-screen h2:first-child {
  margin-top: 4%;
}

#start-text p {
margin-top: 2%
}

#start-screen h2, h3 {
  margin-top: 3%;
}

#start-screen h2 {
  font-size: 150%;
}

#start-screen h3 {
  font-size: 130%;
  margin-bottom: 2%;
}

#start-text {
  margin-left: 4%;
}

#start-text div {
  margin-top: 1%;
}

#space {
  position: absolute;
  bottom: 10%;
}

#pink {
  background-color: RGB(255, 0, 129);
  width: 18%;
}

#blue {
  background-color: rgb(51,255,255);
  width: 19%;
}

#gold {
  background-color: rgb(255,165,0);
  width: 36%;
}

#green {
  background-color: rgb(0,102,0);
  width: 27%;
  color: white;
}

#pink, #green, #blue, #gold {
  height: 5%;
}